{
  "presets": ["react", "env"],
  "env": {
    "development": {
      "presets": ["es2015"],
      "plugins": ["add-module-exports"],
      "sourceMaps": "both"
    },
    "test": {
      "presets": [
        ["es2015", { "modules": false, "loose": true }]
      ],
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "staging": {
      "presets": ["es2015"],
      "plugins": ["add-module-exports"],
      "sourceMaps": "both"
    },
    "production": {
      "presets": ["es2015"],
      "plugins": ["add-module-exports"],
      "sourceMaps": "both"
    },
    "webpack": {
      "presets": [
        ["es2015", { "modules": false, "loose": true }]
      ]
    }
  }
}
