{
  "env": {
    "development": {
      "presets": ["react", "es2015"],
      "plugins": ["add-module-exports"],
      "sourceMap": true,
    },
    "production": {
      "presets": ["react", "es2015"],
      "plugins": ["add-module-exports"],
      "sourceMap": "inline"
    }
  }
}
