{
  "presets": [
    ["es2015", { "modules": false, "loose": true }],
    "react",
    "env"
  ],
  "env": {
    "development": {
      "plugins": ["add-module-exports"],
      "sourceMaps": "both"
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "staging": {
      "plugins": ["add-module-exports"],
      "sourceMaps": "both"
    },
    "production": {
      "plugins": ["add-module-exports"],
      "sourceMaps": "both"
    },
    "server": {
      "plugins": ["add-module-exports", "transform-es2015-modules-commonjs"],
      "sourceMaps": "both"
    },
  }
}
