doctype html lang='en'
head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title BBS
    link(rel='stylesheet' href='/assets/libraries/bootswatch-flatly/bootstrap-flatly.min.css')
    link(rel='stylesheet' href='/app/dashboard/dashboard.css')
    link(rel='stylesheet' href='/app/dashboard/memo/memo.css')
    link(rel='stylesheet' href='/app/registration/login/login.css')
body
    div.container
      div.row
        div.col-lg-12
          div#react-main-container !{markup}
    script(src='/app/index-1.2.0.js')
